ZUMO_CLIENT_ID=your_client_id
ZUMO_CLIENT_SECRET=your_client_secret
ZUMO_ORGANISATION_ID=your_organisation_id
ZUMO_API_URL=https://api.sandbox.zumo.tech/v1
ZUMO_WEBAPP_URL=https://webapp.sandbox.zumo.tech/financial-promotions/
PORT=3000
